@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
   background:
    radial-gradient(circle at top, #eafff4 0%, #f6fffb 45%, #ffffff 75%);
} */

@keyframes orbit {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}

.orbit-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  margin-top: -23px;
  animation: orbit linear infinite;
}

.orbit-icon-inner {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.orbit-icon-inner:hover {
  transform: scale(1.12);
  box-shadow: 0 0 22px rgba(16, 185, 129, 0.45);
}